@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 20% 98%;
    --foreground: 234 67% 19%;
    --card: 30 20% 98%;
    --card-foreground: 234 67% 19%;
    --popover: 30 20% 98%;
    --popover-foreground: 234 67% 19%;
    --primary: 236 55% 29%;
    --primary-foreground: 30 20% 98%;
    --secondary: 272 93% 73%;
    --secondary-foreground: 234 67% 19%;
    --muted: 30 20% 20%;
    --muted-foreground: 234 67% 70%;
    --accent: 234 68% 19%;
    --accent-foreground: 59 95% 92%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 234 67% 19%;
    --border: 30 20% 20%;
    --input: 30 20% 20%;
    --ring: 53 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 20% 2%;
    --foreground: 234 67% 81%;
    --card: 30 20% 2%;
    --card-foreground: 234 67% 81%;
    --popover: 30 20% 2%;
    --popover-foreground: 234 67% 81%;
    --primary: 236 55% 71%;
    --primary-foreground: 30 20% 2%;
    --secondary: 272 93% 27%;
    --secondary-foreground: 234 67% 81%;
    --muted: 30 20% 80%;
    --muted-foreground: 234 67% 81%;
    --accent: 234 68% 81%;
    --accent-foreground: 30 20% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 233 69% 10%;
    --border: 30 20% 60%;
    --input: 30 20% 80%;
    --ring: 53 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  color-scheme: dark;
}

.explanation::first-letter {
  initial-letter: 2;
}

.copyright::before {
  content: "©";
}
